* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  scroll-behavior:smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: rgb(176, 176, 176);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

/* Gallery */
.gallery-section {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.container {
  background-color: rgb(236, 236, 236);
  width: 600px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.container .title {
  font-size: 43px;
  text-align: center;
  color: rgb(96, 96, 96);
  text-shadow: 0px 1px 3px rgba(79, 79, 79, 0.5);
  font-weight: bold;
  padding: 0.5em;
}

.container .gallery {
  padding: 0 0 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.container .gallery .member {
  width: 120px;
  height: 120px;
  border: 3px solid rgb(96, 96, 96);
  border-radius: 50%;
  overflow: hidden;
}

.container .gallery .member a {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: rgba(105, 105, 105, 0.5);
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.521);
  opacity: 0;
}

.container .gallery .member a:hover {
  animation: spin .4s both;

}

.container .gallery .member:nth-child(1) {
  background-image: url(material/gita\ kecil.jpg);
}

.container .gallery .member:nth-child(2) {
  background-image: url(material/freya\ kecil.jpg);
}

.container .gallery .member:nth-child(3) {
  background-image: url(material/ella\ kecil.jpg);
}

.container .gallery .member:nth-child(4) {
  background-image: url(material/indah\ kecil.jpg);
}

.gallery-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  cursor: pointer;
  padding: 8px 15px;
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold ;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
}

.member-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-container figure {
  width: 400px;
  height: 550px;
  background-color: gray;
  border-radius: 10px;
  overflow: hidden;
}

.member-container figure img {
  width: 100%;
  height: 100%;
}


.member-container .prev, .member-container .next {
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.member-container .next img, .member-container .prev img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 2px rgba(255, 255, 255, 1));
}

/* Gacha */
.gacha-section {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.gacha-container {
  background-color: gray;
  background-color: rgb(236, 236, 236);
  width: 500px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.gacha-container figure {
  cursor: pointer;
  width: 300px;
  height: 400px;
}

.gacha-container img {
  width: 100%;
  border: 4px solid rgb(96, 96, 96);
  border-radius: 10px;
}

.member-name {
  background-color: rgb(254, 254, 252);
  color: rgb(96, 96, 96);
  font-size: 3em;
  padding: 5px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.454);
}

.gacha-button {
  cursor: pointer;
  padding: 3px 30px;
  border: 0;
  outline: 0;
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(96, 96, 96);
  background-color: rgb(254, 254, 252);
  border-radius: 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.454);
  transition: .1s;
}

.gacha-button:active {
  transform: scale(1.05);
}


@keyframes spin {
  0% {opacity: 0;}
  100% {opacity: 1; transform: rotate(360deg);}
  }

  @keyframes fade {
    0%{transform: scale(0); opacity: 0;}
    100% {transform: scale(1); opacity: 1;}
  }

  @media (max-width:576px) {
    /* Gallery */
    .close {
      font-size: 0.9em;
    }

    .member-container figure {
      width: 240px;
      height: 340px;
    }

    .member-container .prev, .member-container .next {
      width: 50px;
      height: 50px;
    }

    /* Gacha */
    .gacha-container figure {
      width: 240px;
      height: 340px;
    }
  }